[user]
	name = Jesse O'Brien
	email = jesse@jesse-obrien.ca

[color]
	ui = auto

[alias]
	c = commit
	di = diff
	st = status
	co = checkout
	amend = commit --amend
	aa = add --all
	b = branch
	pom = push origin master
	pod = push origin dev
	l = "!. ~/.githelpers && pretty_git_log"
	u = git submodule update --init
